
ListView {
	width: 90%;
}

.title-list {
	width: 90%;
	margin-left: 10;
	margin-right: 10;
	horizontal-align: center;
}

.item-list {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	background-color: #FFC3A3;
}
