Page {
    background-color: #FFA26D;
    font-size: 17;
}

Label {
	color: white;
}

TextField {
    margin: 10;
    padding: 10;
}

Image {
    margin-top: 20;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 80;
}

Button {
	margin: 10;
    padding: 10;
	width: 90%;
	height: 80;
    horizontal-align: center;
	color: white;
	background-color: #FF5900;
}

Button:highlighted {
	background-color: #FF7130;
}

.title {
    font-size: 30;
    horizontal-align: center;
    margin-top: 40;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
    margin: 0 20;
    text-align: center;
}
