
ListView {
	width: 90%;
	#height: 300;
}

.title-list {
	width: 90%;
	margin-left: 10;
	margin-right: 10;
	horizontal-align: center;
}

.item-list {
	width: 90%;
	background-color: #FFC3A3;
}

.label-name-item-list {
	margin-left: 10;
	width: 20%;
}

.label-plaque-item-list {
	width: 40%;
}

.button-item-list {
	width: 40;
	height: 40;
	margin-left: 5;
	margin-right: 0;
	background-color: #E54C00;
}

